<!DOCTYPE html>
<html ng-app="hrm_test">
<head>
	<title>HRM</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script type="text/javascript" src="./questions.js"></script>
	<script type="text/javascript" src="./main.js"></script>
</head>
<body ng-controller="MainController">
    <div ng-repeat="chapter in chapters">
        <input type="checkbox" ng-model="chapter.selected"  ng-true-value="true" ng-false-value="false"/>
        <label>Chapter {{chapter.id}}</label>
    </div>
    <button ng-click="NextQuestion()" >
      Next Question
    </button>
    <br>
    <br>
    <div ng-show="Question">
      {{Question}}
      <br>
        <form name="Choice" >
          <label>
            <input type="radio" ng-disabled="Answer" ng-change="ans('A')" ng-model="Answer" value="A">
            A {{A}}
          </label><br/>
          <label>
            <input type="radio" ng-disabled="Answer" ng-change="ans('B')" ng-model="Answer" value="B">
            B {{B}}
          </label><br/>
          <label>
            <input type="radio" ng-disabled="Answer" ng-change="ans('C')" ng-model="Answer" value="C">
            C {{C}}
          </label><br/>
          <label>
            <input type="radio" ng-disabled="Answer" ng-change="ans('D')" ng-model="Answer" value="D">
            D {{D}}
          </label><br/>
          <label>
            <input type="radio" ng-disabled="Answer" ng-change="ans('E')" ng-model="Answer" value="E">
            E {{E}}
          </label>
        </form>
    </div>
    <h4 ng-show="Answer">Your answer is {{Answer}}, correct answer is {{correct}}, {{feedback}}
     <button ng-click="NextQuestion()" >
      Next Question
    </button>
</body>
</html>